modules = ["rust-stable", "python-3.11", "nodejs-20", "postgresql-16"]
[nix]
packages = ["freetype", "geckodriver", "glibcLocales", "jq", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "postgresql", "tcl", "tk", "xsimd", "zlib"]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Social Media App"

[[workflows.workflow]]
name = "Social Media App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PYTHON_SERVER_MODE=disabled cargo run"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37149
externalPort = 3000

[[ports]]
localPort = 39847
externalPort = 5000

[[ports]]
localPort = 40553
externalPort = 4200

[[ports]]
localPort = 43987
externalPort = 6800
