modules = ["rust-stable", "python-3.11"]
[nix]
packages = ["freetype", "geckodriver", "glibcLocales", "jq", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "postgresql", "tcl", "tk", "xsimd", "zlib"]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80
